.master{
    background-attachment: fixed;
    background-image: url("../img/backgrounds/landing.jpg");
    text-align: center;
    color: white;
}
.tops{
    padding-top: 10em;
    padding-bottom: 10em;
}
body{
    margin-left: 0;
    margin-right: 0;
}
.first, .second{
    padding-top: 5em;
    padding-bottom: 5em;
}