@font-face{
    font-family: 'Julius Sans';
    src: url('../fonts/Julius Sans.woff2');
}
.master{
    background-attachment: fixed;
    background-image: url("../img/backgrounds/landing.jpg");
    background-size: cover;
    text-align: center;
    color: white;
}
.fa{
    color: white;
}
.glyphicon{
    width: 8%;
}
.tops{
    padding-top: 15%;
    padding-bottom: 15%;
}
#subscribe{
    background-color: #F15A29;
    border-color: #F15A29;
    width: 12vw;
}
body{
    margin-left: 0;
    margin-right: 0;
}
.first{
    padding-top: 5em;
    padding-bottom: 2em;
}
.second{
    padding-top: 2em;
    padding-bottom: 5em;
}
.first h3, .second h3{
    font-family: "Julius Sans", sans-serif;
}
.first h1, .second h1{
    font-family: 'Roboto Slab', serif;
}
.tabs{
    background-attachment: scroll;
    background-image: url("../img/backgrounds/foodsBg.jpg");
    background-size: cover;
    padding-top: 6em;
    padding-bottom: 7em;
    color: white;
}
.new-container{
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5em;
    padding-bottom: 5em;
}
.customers{
    box-shadow: 2px 4px 12px 2px #DCDCDC;
    padding-top: 2em;
    padding-bottom: 2em;
    font-family: 'Roboto Slab', serif;
    color: rgb(65, 63, 63);
}
.customers h3{
    color: #F15A29;
}
.col-md-7{
    padding-left: 4em;
    padding-right: 4em;
    text-align: center;
}
.col-md-5{
    text-align: center;
    padding-left: 4em;
    padding-right: 4em;
    border-left: solid;
    border-width: thin;
    border-color: rgba(128, 128, 128, 0.57);
}
.subscribe{
    background-attachment: scroll;
    background-image: url("../img/backgrounds/subscribe.jpg");
    background-size: cover;
    padding-top: 8.5em;
    padding-bottom: 8.5em;
    color: white;
    text-align: center;
}
.nav{
    background-color: #D3D3D3;
}
.nav-tabs{
    border-bottom: 1px solid #ddd;
}
.nav-tabs a{
    font-family: 'Scope One', serif;
    font-size: 17px;
    font-weight: bold;
    color:rgba(0, 0, 0, 0.7);
}
.nav-food{
    border: solid gray;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-width: 0.01em;
}
.nav-food:hover a{
    color: #F15A29;
}
.nav-food:active a{
    color: #F15A29;
}
.subscribe h2{
    font-family: 'Julius Sans', sans-serif;
}
.ending{
    background-color: #F15A29;
    
}
.end-text{
    color: white;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
}
.ffoods{
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: white;
    text-align: center;
}
.col-md-3{
    padding-left: 0;
    padding-right: 0;
}
.btn-lg{
    color: #F15A29;
    border-color: #F15A29;
    font-family: 'Julius Sans',sans-serif;
    font-size: bold;
}
.btn-lg:hover{
    background-color: #F15A29;
    color: white;
}
.btn-lg:active{
    background-color: #F15A29;
    color: white;
}
#pic-breakfast{
    background-image: url("../img/foodtop/breakfast.jpg");
    background-size: cover;
}
#pic-lunch{
    background-image: url("../img/foodtop/lunch.jpg");
    background-size: cover;
}
#pic-dinner{
    background-image: url("../img/foodtop/dinner.jpg");
    background-size: cover;
}
.foodtop{
    text-align: center;
    color: white;
}
.foodtop p{
    padding-top: 30%;
    padding-bottom: 30%;
}
.group-pics{
    box-shadow: 1px 2px 3px 3px #DCDCDC;
    text-align: center;
    padding: 3%;
    border-radius: 0;
    vertical-align: middle;
}
.ffods img{
    width: 100%;
}
.drnks img{
    height: auto;
    max-width: 100%;
    size: cover;
}
.text-second{
    text-align: right;
    padding-right: 5em;
}
.text-first{
    padding-left: 5em;
}
.form-control{
    background-color: rgba(255, 255, 255, 0.315);
    border-width: 0;
    padding-right: 5em;
    margin-right: 3em;
    vertical-align: middle;
    color: black;
}
.tops{
    font-family: 'Julius Sans', sans-serif;
}
