.master{
    background-attachment: fixed;
    background-image: url("../img/backgrounds/landing.jpg");
    text-align: center;
    color: white;
}
.tops{
    padding-top: 10em;
    padding-bottom: 10em;
}
body{
    margin-left: 0;
    margin-right: 0;
}
.first, .second{
    padding-top: 5em;
    padding-bottom: 5em;
}
.tabs{
    background-attachment: fixed;
    background-image: url("../img/backgrounds/foodsBg.jpg");
    padding-top: 19em;
    padding-bottom: 19em;
}
.new-container{
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}